---
import type {
  GetStaticPaths,
  InferGetStaticParamsType,
  InferGetStaticPropsType,
} from "astro"
import { getCollection } from "astro:content"

import DateTime from "../../components/DateTime.astro"
import Page from "../../layouts/Page.astro"

// https://github.com/microsoft/TypeScript/issues/51556
export const getStaticPaths = (async () =>
  (await getCollection("blog")).map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))) satisfies GetStaticPaths

export type Params = InferGetStaticParamsType<typeof getStaticPaths>
export type Props = InferGetStaticPropsType<typeof getStaticPaths>

const post = Astro.props
const { title, pubDate } = post.data
const pageTitle = `${title} | Kevin's Blog`
const { Content } = await post.render()
---

<Page title={pageTitle}>
  <div class="heading">
    <h1>{title}</h1>
    <DateTime date={pubDate} />
  </div>
  <div class="content">
    <Content />
  </div>
</Page>

<style>
  .heading {
    margin-top: 50px;
  }

  .heading :global(h1) {
    margin: 0;
    font-size: 2.5rem;
  }

  .heading :global(time) {
    margin: 0;
    font-size: 1.2rem;
  }

  .content {
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .content :global(p) {
    margin: 0;
    margin-bottom: 20px;

    font-size: 1.3rem;
    line-height: calc(1.3rem * 2);
  }

  .content :global(img) {
    width: 100%;
  }

  .content :global(a) {
    color: var(--color-primary);
    text-decoration-color: transparent;
    text-decoration-line: none;
    text-underline-offset: 5px;

    transition-property: text-decoration-color text-underline-offset;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }

  .content :global(a:hover) {
    text-decoration-color: var(--color-primary);
    text-decoration-line: underline;
    text-underline-offset: 2px;
  }

  @media (prefers-color-scheme: dark) {
    .content :global(a) {
      color: var(--color-secondary);
    }

    .content :global(a:hover) {
      text-decoration-color: var(--color-secondary);
    }
  }
</style>
