{% extends "_base.html" %}

{% block title %}
  Blog
{% endblock %}

{% block header %}
  <h1 class="title">My Blog</h1>
  <div class="description">Articles, thoughts, and ideas</div>
{% endblock %}

{% block content %}
  <section>
    <h2 class="title">Articles</h2>
    <div class="container">
      {% for article in ARTICLES %}
        <div class="tile">
          <h3><a href="/blog/{{ article.url }}">{{ article.title }}</a></h3>
          <p>{{ article.description }}</p>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
