{% extends "blog/_base.html" %}

{% block title %}
  My Journey in Programming
{% endblock %}

{% block article %}
<main>
  <p>
    Nearly three years ago, I began my journey in programming. At first, I was
    unable to do much, except following tutorials while I attempted to learn
    Python and Web Development. After a few months, I created my first project,
    <a href="https://simplelight.github.io/">Simplelight</a>, a simple and
    lightweight CSS framework.
  </p>
  <p>
    On the other hand, I was not as successful with learning Python, as my first
    project in Python, ExploreQuest, was a total failure. Slowly, with each new
    failure, my skills blossomed and my knowledge grew as I swallowed up
    techniques, articles, and much more. My next successful major project was
    <a href="https://github.com/HereIsKevin/minimal.css">minimal.css</a>,
    another lightweight CSS framework that I still use for the
    <a href="https://hornercodingclub.github.io/">Horner Coding Club</a>
    website.
  </p>
  <p>
    Before I started my next project, I dabbled with shell script, creating
    <a href="https://github.com/HereIsKevin/spacemacs-app">spacemacs-app</a>,
    prebuilt binaries for Spacemacs for macOS.
  </p>
  <p>
    The next successful project that I created with Python was
    <a href="https://github.com/boredomgames/GeoBounce">GeoBounce</a>, a
    platformer game similar to Geometry Dash or Boxel Rebound.
  </p>
  <p>
    After GeoBounce came <a href="https://github.com/HereIsKevin/neat">neat</a>,
    then <a href="https://github.com/HereIsKevin/boreDOM">boreDOM</a>, and many
    more projects of varying degrees of success.
  </p>
  <p>
    My current projects range from .io games to compilers, all with varying
    degrees of success, with the foremost being my current major project
    <a href="https://convoluta.github.io/">Convoluta</a>, a revolutionary
    solution for detecting misinformation through machine learning.
  </p>
  <p>
    In my journey in programming, I find that failure is the key to success.
    "Failure is the key to success" may be a commonly repeated and scorned-upon
    phrase, but it truly applies to programming. Programming is a journey of
    learning from failure. No matter how long one has learned programming,
    failure is still imminent, appearing at every turn.
  </p>
  <p>
    Many fail early on in their journey in programming, and I nearly did many
    times. I have created at least five web frameworks, all failures, some
    before boreDOM, some after. I have created at least four GUI toolkits, some
    in Python, some in C and C++, some in Rust, and none of them work. I have
    created six text editors, some for the web, some for the terminal, and some
    with GUIs, and none of them work. I have created seven interpreters and
    compilers for many varying purposes, and none of them work except for
    <a href="https://github.com/HereIsKevin/SharpLox">SharpLox</a>, my
    implementation of Lox in C#, which is dead slow.
  </p>
  <p>
    My journey in programming is fraught with failure, but I still cherish
    programming. Before I end this article, I want to leave the reader with one
    final message. <b>Failure is the key to success.</b> Yes, that is my message
    to the reader. On short phrase that everyone knows, yet does not take to
    heart as they should.
  </p>
  <p>
    What do you think? What about your journey in programming? Please comment on
    <a href="https://github.com/HereIsKevin/HereIsKevin/discussions/7"
      >GitHub Discussions</a
    >.
  </p>
{% endblock %}
