{% extends "blog/_base.html" %}

{% block title %}
  Objective-Rust? Nope
{% endblock %}

{% block article %}
  <p>
    For those who have not realized yet, Objective-Rust is just an April Fools
    joke. In reality, such an union would be "unholy" and potentially unfeasible
    due to the stark differences between Rust and Objective-C.
  </p>
  <p>
    Any other comments? Please continue to comment on
    <a href="https://github.com/HereIsKevin/HereIsKevin/discussions/3"
      >GitHub Discussions</a
    >.
  </p>
{% endblock %}
