{% extends "blog/_base.html" %}

{% block title %}
  Thoughts on Go
{% endblock %}

{% block article %}
  <p>
    I love Go, and I hate Go. Go is a programming language with many likable
    aspects, like simplicity and performance, but out of its emphasis on those
    qualities, Go neglects ease of use and maintainability.
  </p>
  <p>
    Go's painless concurrency is my favorite feature by far, as it allows easy
    development of high-performance servers. On the other hand, Go's error
    handling, though intuitive, is verbose and unwieldy. Out of trying to remain
    simple, Go lacks a error propagation operator like Rust, hindering
    maintainability.
  </p>
  <p>
    I agree with Go's core value of simplicity, but I believe simplicity should
    not just benefit the internal implementation through simple grammars and
    bare features. Instead, simplicity should also be in the code written by the
    use. Much more code is written in Go than for the Go compiler, so the
    language should be optimized more for the end use than the implementors.
    Simplicity comes from
    <b>reducing the complexity of the code written while keeping readability</b
    >, not from anywhere else.
  </p>
  <p>
    What do you think? Please comment on
    <a href="https://github.com/HereIsKevin/HereIsKevin/discussions/5"
      >GitHub Discussions</a
    >.
  </p>
{% endblock %}
