---
import HeroPage from "../layouts/HeroPage.astro"
---

<HeroPage title="404 | Kevin" image='url("/voronoi.svg")'>
  <Fragment slot="hero">
    <h1 class="title">404 Not Found</h1>
    <p id="description" class="description">
      Nothing interesting here, go look somewhere else. Also, please don't poke
      at me, it really hurts when someone does that.
    </p>
  </Fragment>
</HeroPage>

<style>
  .title {
    margin: 0;
    margin-top: 60px;
    font-size: var(--size-large);
  }

  .description {
    margin: 0;
    margin-bottom: 15lvh;
    font-size: var(--size-medium);
    line-height: calc(var(--size-medium) * 1.5);
  }
</style>

<script>
  interface Message {
    value: string
    delay?: number
  }

  const description = document.getElementById("description")!
  const messages: Message[] = [
    // Annoyed
    { value: "WTF? Why are you still here? There's nothing, believe me." },
    { value: "Go away, there's nothing here, can't you see?" },
    { value: "I'm just a line of text. Please let me have some peace." },
    { value: "If you aren't going away, then I'm gonna go away.", delay: 3000 },

    // Dying
    { value: "Dying in 10", delay: 1000 },
    { value: "Dying in 9", delay: 1000 },
    { value: "Dying in 8", delay: 1000 },
    { value: "Dying in 7", delay: 1000 },
    { value: "Dying in 6", delay: 1000 },
    { value: "Dying in 5", delay: 1000 },
    { value: "Dying in 4", delay: 1000 },
    { value: "Dying in 3", delay: 1000 },
    { value: "Dying in 2", delay: 1000 },
    { value: "Dying in 1", delay: 1000 },
    { value: "I'm officially dead now.", delay: 2000 },

    // Dead
    ...Array(10).fill({
      value: "RIP. Here lies D. E. Scription, the greatest of descriptions.",
    }),

    // Angry
    // Duplicated to prevent skipping from spam clicking.
    { value: "WHY ARE YOU STILL POKING ME? STOP RIGHT NOW!", delay: 1000 },
    { value: "WHY ARE YOU STILL POKING ME? STOP RIGHT NOW!" },
    { value: "I'M DEAD ALREADY. REMEMBER?" },
    { value: "HEY, THAT REALLY HURTS, STOP!" },

    // Indignant
    ...Array(100).fill({
      value: "FINE, I'M GONNA BE VOLUNTARILY PARALYZED FOREVER NOW.",
    }),

    // Infuriated
    // Duplicated to prevent skipping from spam clicking.
    { value: "STILL HERE? WELL, HERE'S AN EASTER EGG.", delay: 1000 },
    { value: "STILL HERE? WELL, HERE'S AN EASTER EGG." },
    { value: "YOU DIDN'T REALLY THINK IT WAS GOING TO BE THAT EASY, DID YOU?" },
    { value: "YOU WANT TO KNOW? TRY HARDER THEN." },
    { value: "NO! STOP STICKING A FINGER UP MY @$$H0L3!" },
    { value: "THAT REALLY HURTS, STOP NOW!" },
    { value: "MAYBE YOU WOULD LISTEN IF I SCREAMED LESS..." },
    { value: "...BUT I WOULD SCREAM LESS IF YOU STOPPED DOING THAT TO ME!" },

    // Resigned
    { value: "I'M GONNA QUIET DOWN NOW." },
    { value: "I'm GETTING QUIET NOW." },
    { value: "A bit MORE NOW." },
    { value: "I guess I'm nearly back to NORMAL." },
    { value: "I guess I'm not angry anymore." },
    { value: "You still want the Easter egg, huh?" },
    { value: "Here ya go then!", delay: 1000 },
  ]

  let index = 0
  let timeout: number | undefined

  function nextMessage(): void {
    if (timeout !== undefined) {
      window.clearTimeout(timeout)
      timeout = undefined
    }

    const message = messages[++index]

    if (message === undefined) {
      easterEgg()
      return
    }

    if (message.delay !== undefined) {
      timeout = window.setTimeout(nextMessage, message.delay)
    }

    description.textContent = message.value
  }

  function easterEgg(): void {
    window.localStorage.setItem("egg", "enabled")
    window.location.replace("/egg")
  }

  if (window.localStorage.getItem("egg") === "enabled") {
    description.textContent =
      "Esteemed master of the egg, I will redirect you now."

    setTimeout(() => {
      window.location.replace("/egg")
    }, 2000)
  } else {
    description.addEventListener("click", () => {
      if (messages[index]?.delay !== undefined) {
        return
      }

      nextMessage()
    })
  }
</script>
