---
import type { HTMLAttributes } from "astro/types"

export type Props = HTMLAttributes<"footer">
---

<footer {...Astro.props}>
  <p>&copy; 2023 Kevin Feng</p>
</footer>

<style>
  footer {
    padding: 20px;

    background-color: var(--color-background);
    color: var(--color-foreground);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--color-border);
  }

  p {
    margin: 0;
    text-align: center;

    font-size: var(--size-small);
  }
</style>
