---
import type { HTMLAttributes } from "astro/types"

import HeaderLink from "./HeaderLink.astro"

export type Props = HTMLAttributes<"header">
---

<header {...Astro.props}>
  <div class="container">
    <a class="title" href="/">
      <img alt="Kevin Feng" src="/favicon.svg" width="48" height="48" />
    </a>
    <span class="spacer"></span>
    <nav>
      <ul class="links">
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="https://github.com/HereIsKevin" target="_blank">
          GitHub
        </HeaderLink>
        <HeaderLink id="egg" href="/egg" hidden>🥚</HeaderLink>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    position: sticky;
    width: 100%;
    top: 0;

    background-color: var(--color-overlay);
    backdrop-filter: blur(3px);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-border);
  }

  .container {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 5px;
    max-width: var(--page-width);
  }

  .title {
    height: 3rem;
  }

  .title img {
    height: 100%;
  }

  .spacer {
    flex-grow: 1;
  }

  .links {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 3px;
    margin-right: 5px;
    padding: 0;

    list-style: none;
  }

  #egg {
    text-shadow: 0 0 1px var(--color-foreground);
  }
</style>

<script>
  const egg = document.getElementById("egg")!

  if (window.localStorage.getItem("egg") === "enabled") {
    egg.hidden = false
  } else {
    egg.remove()
  }
</script>
