{% extends "_base.html" %}

{% block title %}
  Aspiring developer, student, and future CEO (hopefully)
{% endblock %}

{% block header %}
  <h1 class="title">Hi, I'm Kevin</h1>
  <div class="description">
    Aspiring developer, student, and future CEO (hopefully)
  </div>
{% endblock %}

{% block content %}
  <section>
    <h2 class="title">My Achievements</h2>
    <div class="container">
      <h3>truth</h3>
      <p>
        I am the creator, designer, and team leader for truth, a revolutionary
        solution for combating misinformation. After envisioning and setting up
        the groundwork for truth, I began the project in November 2020 and
        entered it into the
        <a href="https://www.samsung.com/us/solvefortomorrow/"
          >2020 Samsung Solve for Tomorrow Competition</a
        >. Out of the thousands of entries submitted from all over the United
        States, my project was one of the 75 entries that reached the
        semi-finals. My project was featured on the
        <a
          href="https://sanfrancisco.cbslocal.com/2021/03/08/foothill-high-school-in-pleasanton-horner-middle-school-in-fremont-named-semi-finalists-in-national-stem-contest/"
          >KPIX CBS SF Bay Area</a
        >
        news channel, where I was invited to speak along with other members of
        my team.
      </p>
    </div>
  </section>
  <section>
    <h2 class="title">My Projects</h2>
    <div class="container">
      <div class="tile">
        <h3><a href="https://convoluta.github.io">Convoluta</a></h3>
        <p>
          A revolutionary ML-based solution to combat misinformation. Powered by
          TensorFlow and spaCy, Convoluta is built upon cutting edge
          technologies. Convoluta is set to launch around late 2021, with the
          API set to launch around early 2022.
        </p>
      </div>
      <div class="tile">
        <h3>
          <a href="https://github.com/HereIsKevin/neat"
            ><b><i>neat</i></b></a
          >
        </h3>
        <p>
          Fast and minimalistic bash prompt with infinite options for
          customizing.
          <b><i>neat</i></b> is extremely extensible, with a simple API for
          adding new components and plugins. With extensive caching,
          <b><i>neat</i></b> crushes Powerlevel10k and even starship at
          performance.
        </p>
      </div>
      <div class="tile">
        <h3>
          <a href="https://github.com/HereIsKevin/boreDOM">boreDOM</a>
        </h3>
        <p>
          A lightweight and blazing-fast web components library built upon a
          rock-solid rendering system. By only diffing possible dynamic places,
          boreDOM does not need to diff the whole DOM tree, resulting in near
          zero-cost rendering. boreDOM is comparable to lit-html in performance
          and crushes React and Angular.
        </p>
      </div>
      <div class="tile">
        <h3>
          <a href="https://github.com/boredomgames/GeoBounce">GeoBounce</a>
        </h3>
        <p>
          Fun and simple, GeoBounce is a platformer game built by Boredom Games
          and is much like Geometry Dash and Boxel Rebound. With a custom-built
          game engine, GeoBounce sacrifices nothing for performance and the
          enjoyment of the player. Each level is a combination of challenges,
          fun, and much more, each more rewarding than the last.
        </p>
      </div>
    </div>
  </section>
  <section>
    <h2 class="title">About Me</h2>
    <div class="container column">
      <div class="tile">
        <h3>Introduction</h3>
        <p>
          Hi, I'm Kevin, as you already know. I'm currently a aspiring
          developer, student, and future CEO (hopefully). Coding is my passion
          and I seek to create pieces of software to improve the lives of
          others, whether they are developers like me or just ordinary people.
          In my spare time, I play the violin (though I need to practice more),
          read books (voraciously), and learn (both at school and elsewhere).
        </p>
      </div>
      <div class="tile">
        <h3>What I Know and What I'm Learning</h3>
        <p>
          Currently, I know Python and Web (HTML, CSS, JavaScript) programming
          well. I enjoy using TypeScript and Sass when creating frontends and
          Python or Node.js when creating backends. I know Shell, C# and Tcl/Tk
          relatively well. Currently, I'm learning Rust, Go, and the C family of
          languages (C, C++, Objective-C).
        </p>
      </div>
      <div class="tile">
        <h3>A Side Note</h3>
        <p>
          Please star my projects on GitHub if you find them inspiring, helpful,
          or interesting so I can know they are appreciated. My current project
          is Convoluta, which I hope to release around late 2021.
        </p>
      </div>
      <div class="tile">
        <h3>Contact</h3>
        <p>
          I'm unwilling to put my email here in fear of spam, so please use my
          <a href="https://github.com/HereIsKevin/HereIsKevin/discussions"
            >GitHub Discussions</a
          >
          instead. I may be slow to respond at times, so please be patient.
        </p>
      </div>
    </div>
  </section>
{% endblock %}
