---
import Head from "../components/Head.astro"
import Header from "../components/Header.astro"
import "../styles/global.css"

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head {title} />
  </head>
  <body>
    <Header id="header" />
    <main>
      <section id="hero">
        <div class="wrapper">
          <div class="container">
            <slot name="hero" />
          </div>
        </div>
      </section>
      <section id="content">
        <div class="container">
          <slot />
        </div>
      </section>
    </main>
  </body>
</html>

<style>
  #header {
    position: fixed;
    z-index: 1;
  }

  #hero {
    background-attachment: fixed;
    background-image: url("/voronoi.svg"),
      linear-gradient(rgb(60 120 240), rgb(255 255 255));
    background-position: center;
    background-size: cover;
    color: rgb(255 255 255);
  }

  #hero .wrapper {
    margin: auto;
    max-width: var(--content-width);
  }

  #hero .wrapper .container {
    padding: 200px 25px;
  }

  #content {
    margin: auto;
    max-width: var(--content-width);
  }

  #content .container {
    margin: 25px;
  }

  .transition {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }

  .accented {
    --color-foreground: rgb(255 255 255);
    --color-accent: rgb(255 255 255);
    --color-overlay: rgb(60 120 240 / 75%);
    --color-border: rgb(255 255 255);
  }
</style>

<script>
  const header = document.getElementById("header")!
  const hero = document.getElementById("hero")!

  if (window.scrollY < hero.offsetHeight - header.offsetHeight) {
    header.classList.add("accented")
  }

  document.addEventListener(
    "scroll",
    () => {
      const hasAccented = header.classList.contains("accented")
      const threshold = hero.offsetHeight - header.offsetHeight

      // Add transition afterwards to prevent flashing on load.
      if (!header.classList.contains("transition")) {
        header.classList.add("transition")
      }

      if (hasAccented && window.scrollY >= threshold) {
        header.classList.remove("accented")
      } else if (!hasAccented && window.scrollY < threshold) {
        header.classList.add("accented")
      }
    },
    { passive: true }
  )
</script>
