---
import "@fontsource/lato/400.css"
import "@fontsource/lato/700.css"

import Footer from "../components/Footer.astro"
import Head from "../components/Head.astro"
import Header from "../components/Header.astro"
import "../styles/global.css"

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {/* https://github.com/withastro/prettier-plugin-astro/issues/316 */}
    {() => (<Head {title} />) as unknown}
  </head>
  <body>
    <Header />
    <main>
      <div class="container">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    margin: auto;
    max-width: var(--content-width);
  }

  main .container {
    margin: 25px;
  }
</style>
